.logo{
    color: white;
}

#my_gif{
    margin-top: 7vh;
}

#middle-text{
    text-align: center;
}

#grid{
    margin-top: 5vh;
}

#box{
    border: red solid 2px;
    border-radius: 10px;
    margin-top: 1vh;
    text-align: center;
    vertical-align: middle;
}

footer{
    padding: 2vw 0;
    text-align: center;
    background-color: red;
    color: black;
    margin-top: 5vh;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    text-decoration: underline;
    color: black;
}

footer li{
    display: inline;
    text-decoration: none;
    padding: .5vw;
}

#reg_form{
    margin-top: 10vh;
}

#reg_form fieldset{
    padding-top: 1vh;
}

#sub_butt{
    margin-top: 1vh;
}

#account_page{
    margin-top: 10vh;
}