<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Enter your description here"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="shortcut icon" href="../static/images/favicon.png">
        <title>Mavel DB</title>
    </head>
    <body>
        <!-- Navbar creation -->
        <nav class="navbar navbar-light bg-danger fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('site.home')}}">
                    <img src="../static/images/favicon.png" alt="" width="30" height="24" class="d-inline-block align-text-top"><span class="logo">arvel</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"                 data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="../static/images/favicon.png" alt="" width="30" height="24" class="d-inline-block align-text-top"><span class="text-black">arvel</span></h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ url_for('site.home')}}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Characters</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('site.profile')}}">Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('auth.signin')}}">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('auth.signup')}}">Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>        
        {% block content %}
            
        {% endblock content %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
    </body>
</html>